<h1>Welcome to Scrabble Score Finder!<h1>
  <form action="/title">
    <div class="form-group">
      <label for="title">Please enter your scrabble word to get the score!</label>
      <input id="title" name="title" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
